body {
    background-color: #000000;
    /* background-image: url('assets/icons/bg-image.jpg'); */
    color: white;
    justify-content: center;
    font-family: '/assets/fonts/Roboto Flex', sans-serif;
    line-height: 1;
    min-width: 320px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.page {
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background: radial-gradient(circle, rgb(121, 121, 121) 0%, rgb(0, 0, 0) 80%); */
    /* background: radial-gradient(circle, rgba(40,28,97,1) 0%, rgb(77, 31, 0) 90%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(0deg, rgb(221, 88, 0) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0px 100px #ffffff99;
}

.header {
    display: flex;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: center; /* Выровнять элементы по вертикали */
    padding: 10px 20px;
    border-radius: 20px;
    /* background: linear-gradient(180deg, rgb(172, 69, 0) 0%, rgba(0,0,0,1) 100%); */
    /* border-top: 2px solid #f18730;
    border-inline-end: 2px solid #f18730;
    box-shadow: 0 0px 30px #fa832299; */
}

.leftside.header {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0,0,0,0.3);
}

.rightside.header {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
}

.profit-for-hour.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 7px;
}

.profit-for-click.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.profit.span-bold {
    font-size: 16px;
    margin-left: 7px;
    font-weight: 600;
}

.profit.span-normal {
    font-size: 16px;
    margin-left: 7px;
    font-weight: 500;
}

.profile-info-name {
    font-size: 18px;
    letter-spacing: 2px;
}

#main-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    margin: 50px;
}



#button {
    width: 100%;
    height: 300px;
    transition: transform 75ms ease;
    background-image: url("assets/icons/button.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    background-color: #00000000;
}

.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 170px);
    
}

.img-16 {
    width: 16px;
    height: 16px;
}

.img-50 {
    width: 50px;
    height: 50px;
}


#score-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#score {
    font-size: 38px;
    padding: 20px;
    color: #fff;
    font-weight: 600;
}


#score-counter-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.score-counter {
    position: absolute;
    font-size: 24px;
    opacity: 1;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

#energy-container {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.enegry-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7px;
    
}

.enegry-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}



#energy-text {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-left: 5px;
}

#energy-bar {
    width: 100%;
    height: 15px;
    background: rgba(0,0,0,0.3);
    border: 2px solid rgba(5, 5, 5, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

#energy-bar-inner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#e62020 20%,#e45d1e 70%,#e0ce2a);
    transition: background 0.5s ease;
} 

.boost-button {
    align-items: center;
    /* background: #262235; */
    border-radius: 10px;
    color: #d1d1d1;
    display: flex;
    flex: 1 1;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
    text-decoration: none;
    border-top: 2px outset #ffffff96;
    background: rgba(0,0,0,0.3);
}

.menu-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 15;
    max-width: 800px;
    
    
}

.menu-bar-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    /* background: linear-gradient(40deg, rgba(8,7,9,1) 0%, rgba(30,25,71,1) 50%, rgb(97, 50, 0) 100%); */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.menu-button {
    align-items: center;
    border-radius: 12px;
    color: #d1d1d1;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 38px;
    justify-content: center;
    padding: 5px;
    position: relative;
    text-decoration: none;
    /* border-top: 2px solid #f18730; */
    /* border-inline-end: 2px solid #f18730; */
    /* box-shadow: 0 0px 30px #fa832299; */
    border-top: 2px outset #ffffff96;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    margin-right: 10px;
}

